body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

a {
  text-decoration: none;
}

ul.autor-time > li > a {
  color: #aaa;
}

ul.autor-time > li {
  display: inline-block;
  padding-left: 0;
  color: black;
}

ul.group-price {
  padding-left: 0;
}

ul.group-price > li {
  display: inline-block;
}

.fifth-grouplink > ul li {
  border-bottom: 1px solid #f4f6f6;
}

ul.article-details {
  position: absolute;
  bottom: 0;
}

p.date-leftarticle {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}

ul.article-details > li {
  display: inline-block;
  color: white;
}

ul.article-details > li a {
  color: white;
}

.fifth-grouplink > ul li a {
  color: #aaa;
}

footer div.group-link div ul > li > a {
  color: #aaa;
  margin-left: 3px;
  margin-right: 3px;
}

.fifth-grouplink > ul li a:hover {
  color: black;
}

.fifth-grouplink > ul {
  color: #f42;
}

div.yellow-bar {
  background-color: rgb(255, 221, 51);
}

@media (max-width: 768px) {
  div.headersecond-row > nav > ul {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  div.headersecond-row > nav {
    display: inline-block;
  }

  .headerfirst-row,
  div.headersecond-row > nav > ul > li,
  .img-lglogo {
    display: none;
  }

  div.headerfirst-row > nav > ul > li,
  nav.wrapperleft-link,
  nav.wrapperright-link {
    display: inline-block;
  }

  div.headersecond-row > nav > ul > li:nth-child(1) {
    display: inline-block;
  }

  div.headersecond-row nav ul > li:nth-child(1) > a > img {
    width: 48%;
    height: 65%;
  }

  div.headersecond-row > div {
    float: right;
    height: 2.85em;
  }

  .headersecond-row {
    height: 2.85em;
  }

  div.headerfirst-row > nav.wrapperleft-link > ul,
  div.headerfirst-row > nav.wrapperright-link > ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.headersecond-row > div {
  border-left: 1px solid gray;
  padding-left: 1em;
  padding-right: 1em;
}

div.headersecond-row > div.three-bars {
  color: red;
}

@media (min-width: 768px) {
  div.headerfirst-row nav ul > li > a {
    color: #bebebe;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  div.headerfirst-row nav ul {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  div.headerfirst-row > nav.wrapperright-link {
    float: right;
  }

  div.headerfirst-row nav > ul > li,
  div.headerfirst-row nav,
  div.headersecond-row nav > ul > li {
    display: inline-block;
    text-transform: uppercase;
  }

  div.headersecond-row > .three-bars,
  div.headersecond-row nav > ul > li:nth-child(1) {
    display: none;
  }

  div.headersecond-row div,
  div.headersecond-row nav,
  div.headersecond-row nav > ul,
  div.headersecond-row > div > p.search-fasbar {
    display: inline-block;
  }

  div.headersecond-row div {
    float: right;
    margin-right: 1em;
  }

  div.headerfirst-row {
    background-color: #131313;
    display: block;
  }

  div.headerfirst-row nav ul > li > a:hover {
    color: white;
  }
}

.seventh-content .wrappersubgrid-seven > * > img {
  height: 160px;
  width: 96%;
}

.fourth-content .wrappersubgrid-four > * > a > img {
  display: none;
}

div.cover-image {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/1-18-796x417.jpg);
  height: 23em;
  width: 100%;
  margin-left: 0.5em;
  margin-top: 0.1em;
  float: left;
  background-size: cover;
}

@media (max-width: 797px) {
  div.cover-image {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/1-18-796x417.jpg);
    height: 23em;
    width: 96%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.1em;
    float: left;
    background-size: cover;
  }
}

.wrappersubgrid > div > div:nth-child(1) {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Sprint_image.jpg");
  background-size: cover;
  height: 11.5em;
  width: 99%;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.1em;
  float: right;
}

.wrappersubgrid div > div.wrappersubgrid-firstrightarticle,
.wrappersubgrid div > div.wrappersubgrid-secondrightarticle {
  position: relative;
}

.wrappersubgrid > div > div.wrappersubgrid-secondrightarticle:nth-child(2) {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/1-17-796x417.jpg");
  background-size: cover;
  height: 11.2em;
  width: 99%;
  margin-left: 0.5em;
  margin-bottom: 0.2em;
  margin-top: 0.1em;
  float: right;
}

@media (max-width: 576px) {
  .wrappersubgrid > div > article:nth-child(2) {
    background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/1-17-796x417.jpg");
    background-size: cover;
    height: 11.2em;
    width: 96%;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.1em;
  }
}

.first-content {
  grid-area: first-content;
}

.second-content {
  grid-area: second-content;
  margin-left: 5em;
  margin-right: 5em;
}

@media (min-width: 1200px) {
  .second-content {
    grid-area: second-content;
    margin-left: 10em;
    margin-right: 10em;
  }
}

.third-content {
  grid-area: third-content;
  margin-left: 5em;
  margin-right: 5em;
}

@media (max-width: 768px) and (min-width: 576px) {
  .third-content {
    margin-left: 3em;
    margin-right: 3em;
  }
}

.fourth-content {
  grid-area: fourth-content;
  margin-left: 5em;
  margin-right: 5em;
}

@media (max-width: 768px) and (min-width: 576px) {
  .fourth-content {
    margin-left: 3em;
    margin-right: 3em;
  }
}

.fifth-content {
  grid-area: fifth-content;
  margin-left: 5em;
  margin-right: 5em;
}

@media (min-width: 1200px) {
  .fifth-content {
    grid-area: fifth-content;
  }
}

@media (max-width: 1200px) {
  .fifth-content {
    grid-area: fifth-content;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}

.fifthcontent-principalimg {
  height: 301px;
  width: 401px;
}

.fifthcontent-sizefirstblock {
  width: 307px;
}

.fifthsecondblock-img {
  width: 90px;
  height: 80px;
}

.sixth-content {
  grid-area: sixth-content;
  margin-left: 5em;
  margin-right: 5em;
}

@media (max-width: 768px) and (min-width: 576px) {
  .sixth-content {
    margin-left: 3em;
    margin-right: 3em;
  }
}

@media (min-width: 1200px) {
  .sixth-content {
    grid-area: sixth-content;
    margin-left: 10em;
    margin-right: 10em;
  }
}

.seventh-content {
  grid-area: seventh-content;
  margin-left: 5em;
  margin-right: 5em;
}

@media (min-width: 1200px) {
  .seventh-content {
    grid-area: seventh-content;
    margin-left: 10em;
    margin-right: 10em;
  }
}

.wrapper {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-areas: "first-content" "second-content" "third-content" "fourth-content" "fifth-content" "sixth-content" "seventh-content";
}

.wrapper-main {
  overflow-x: hidden;
}

.wrappersubgrid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas: "wrappersubgrid-leftarticle" "wrappersubgrid-leftarticle" "wrappersubgrid-firstrightarticle" "wrappersubgrid-secondrightarticle";
}

@media (min-width: 797px) {
  .wrappersubgrid {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "wrappersubgrid-leftarticle wrappersubgrid-firstrightarticle" "wrappersubgrid-leftarticle wrappersubgrid-secondrightarticle";
  }
}

.wrappersubgrid-leftarticle {
  position: relative;
}

.wrappersubgrid-leftarticle > h2 {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 45px;
}

.fourth-content .wrappersubgrid-four * > a > h2 {
  background: #f42;
  color: #fff;
  padding: 10.6666666667px 16px 10.6666666667px 84px;
  padding-top: 10.6667px;
  padding-right: 16px;
  padding-bottom: 10.6667px;
  padding-left: 84px;
  font-size: 18px !important;
  margin-bottom: 0;
}

.wrappersubgrid div > div.wrappersubgrid-firstrightarticle > h2 {
  color: white;
  position: absolute;
  bottom: 0;
}

.wrappersubgrid div > div.wrappersubgrid-secondrightarticle > h2 {
  color: white;
  position: absolute;
  bottom: 0;
}

.wrappersubgrid-one {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas: "textdescription-group";
}

.wrappersubgrid-two {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas: "first-case" "second-case" "third-case" "fourth-case" "fifth-case" "sixth-case" "seventh-case" "eighth-case";
}

@media (min-width: 768px) and (max-width: 992px) {
  .wrappersubgrid-two {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "first-case second-case" "third-case fourth-case" "fifth-case sixth-case" "seventh-case eighth-case";
  }
}

@media (min-width: 992px) {
  .wrappersubgrid-two {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "first-case second-case third-case fourth-case" "fifth-case sixth-case seventh-case eighth-case";
  }
}

.secondcontent-img {
  height: 160px;
  width: 96%;
}

@media (min-width: 576px) and (max-width: 768px) {
  .secondcontent-img {
    height: 61px;
    width: 29%;
  }

  .secondcontent-smarticlestyle {
    position: relative;
  }

  .secondcontent-smh3style {
    display: inline-block;
    position: absolute;
    bottom: 18px;
    margin-top: 0;
  }

  .second-content {
    grid-area: second-content;
    margin-left: 3em;
    margin-right: 3em;
  }
}

.wrappersubgrid-three {
  margin-top: 5em;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas: "textdescrtiption-group1" "links";
}

@media (min-width: 798px) {
  .wrappersubgrid-three {
    -webkit-margin-bottom-collapse: 5em;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "textdescrtiption-group1 links";
  }
}

.wrappersubgrid-four {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas: "first-case" "second-case" "third-case" "fourth-case";
}

@media (min-width: 576px) {
  .wrappersubgrid-four {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "first-case " "second-case" "third-case" "fourth-case";
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .wrappersubgrid-four {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "first-case " "second-case" "third-case";
  }

  .fourth-content {
    position: relative;
  }

  .wrappersubgrid-four .fourth-case {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .fourth-content .wrappersubgrid-four > .second-case,
  .fourth-content .wrappersubgrid-four > .third-case,
  .fourth-content .wrappersubgrid-four > .fourth-case {
    margin-top: 2em;
  }
}

footer div.group-link div > ul {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.fourth-content .wrappersubgrid-four * > ul {
  padding-left: 10px;
}

.fourth-content .wrappersubgrid-four * > a img {
  position: absolute;
  height: 56px;
  width: 63px;
  top: 27px;
}

footer div.group-link div ul > li {
  margin-bottom: 0;
  display: inline-block;
}

.fourth-content .wrappersubgrid-four * > ul > li > a {
  color: #555;
}

footer div.group-link div ul > li > a:hover {
  margin-left: 3px;
  margin-right: 3px;
  color: white;
}

.sixth-content .wrappersubgrid-six div.second-case > a {
  color: red;
  float: right;
  margin-right: 1em;
}

.fourth-content .wrappersubgrid-four * > ul > li {
  display: inline-block;
}

.fifth-content .wrappersubgrid-five > * > h2 > a:hover {
  color: black;
}

.fourth-content .wrappersubgrid-four * > ul > li > a:hover {
  color: black;
}

.fourth-content .wrappersubgrid-four > .first-case {
  margin-right: 0.5em;
}

.fourth-content .wrappersubgrid-four > .second-case {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.fourth-content .wrappersubgrid-four > .third-case {
  margin-left: 0.5em;
}

.fourth-content .wrappersubgrid-four > .fourth-case {
  margin-left: 0.5em;
}

.fourth-content .wrappersubgrid-four * > a > div {
  padding: 10.6666666667px 16px 10.6666666667px 84px;
  color: #000;
  background: rgba(255, 68, 34, 0.08);
  padding-bottom: 0;
  padding-top: 0;
}

.wrappersubgrid-five {
  margin-top: 5em;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas: "first-case" "second-case" "third-case" "fourth-case" "fifth-case" "sixth-case" "seventh-case" "eighth-case";
}

@media (min-width: 992px) {
  .wrappersubgrid-five {
    margin-top: 5em;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "first-case second-case third-case" "fourth-case fifth-case sixth-case" "seventh-case eighth-case eighth-case";
  }
}

@media (max-width: 992px) and (min-width: 576px) {
  .wrappersubgrid-five {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "first-case second-case" "third-case fourth-case" "fifth-case sixth-case" "seventh-case eighth-case";
  }
}

.wrappersubgrid-six {
  margin-top: 5em;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas: "first-case" "second-case";
}

@media (min-width: 576px) {
  .wrappersubgrid-six {
    margin-top: 5em;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "first-case second-case";
  }
}

.wrappersubgrid-seven {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas: "first-case" "second-case" "third-case" "fourth-case" "fifth-case" "sixth-case" "seventh-case" "eighth-case";
}

@media (min-width: 768px) and (max-width: 992px) {
  .wrappersubgrid-seven {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "first-case second-case third-case" "fourth-case fifth-case sixth-case" "seventh-case eighth-case";
  }
}

@media (min-width: 992px) {
  .wrappersubgrid-seven {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "first-case second-case third-case fourth-case" "fifth-case sixth-case seventh-case eighth-case";
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .seventh-content .wrappersubgrid-seven * > img {
    height: 61px;
    width: 29%;
  }

  .seventh-content .wrappersubgrid-seven * {
    position: relative;
  }

  .seventh-content .wrappersubgrid-seven * h3 {
    display: inline-block;
    position: absolute;
    bottom: 18px;
    margin-top: 0;
  }

  .seventh-content .wrappersubgrid-seven * ul {
    display: inline-block;
  }

  .seventh-content {
    grid-area: seventh-content;
    margin-left: 3em;
    margin-right: 3em;
  }
}

.cover-trigger {
  background-color: rgba(0, 0, 0, 0.25) url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png") no-repeat;
}

@media (min-width: 797px) {
  .cover-trigger {
    background-color: rgba(0, 0, 0, 0.25) url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png") no-repeat;
    margin-left: 0.5em;
  }
}

footer div.group-link {
  background: #131313;
  padding-top: 3em;
  padding-bottom: 3em;
}

ul.autor-time > li:hover {
  display: inline-block;
  padding-left: 0;
  color: black;
}

footer div.group-link > div:nth-child(1) > ul > li {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

footer div.group-link > div:nth-child(2) > ul {
  margin-top: 2em;
  font-size: 12px;
}

p.copyright {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #000;
  color: #aaa;
  font-size: 13px;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
}

@media (min-width: 768px) {
  .textdescription {
    font-size: 28px;
  }
}

.secondcontent-subtitle {
  text-align: initial;
}

ul.autor-time {
  padding-left: 0;
  display: inline-block;
  color: #aaa;
  margin-top: 0;
}

@media (min-width: 1200px) {
  .third-content {
    grid-area: third-content;
    margin-left: 10em;
    margin-right: 10em;
  }
}

div.third-content div.wrappersubgrid-three > div.links ul > li {
  display: inline-block;
}

div.third-content div.wrappersubgrid-three > div.links ul {
  float: right;
}

.fifthlinktitle-style {
  color: red;
}

.second-content .wrappersubgrid-one div.textdescription-group > h2 > a {
  color: #f42;
}

div.third-content div.wrappersubgrid-three > div.links ul > li > a {
  color: #f42;
}

div.third-content div.wrappersubgrid-three > div.links ul li a.middle-link {
  border-left: 1px solid #f42;
  border-right: 1px solid #f42;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.price-replaced {
  text-decoration: line-through;
  color: #aaa;
}

div.third-content div.wrappersubgrid-three > div.links ul li:nth-child(1),
div.third-content div.wrappersubgrid-three > div.links ul li:nth-child(3) {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

div.third-content .wrappersubgrid-three div.links ul > li > a:hover {
  color: black;
}

div.third-content .wrappersubgrid-three div.links {
  margin-top: auto;
  margin-bottom: auto;
}

.vertical-alignmentcenter {
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: 1200px) {
  .fourth-content {
    position: relative;
    margin-left: 10em;
    margin-right: 10em;
  }
}

.img-desc {
  height: 270px;
  width: 514px;
}

.img-smlogo {
  height: 270px;
  width: 514px;
  margin-left: 0.5em;
}

.img-lglogo {
  background: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/tnw.svg") no-repeat;
  max-width: 50%;
  background-size: contain;
  height: 100%;
  top: 24px;
  margin-top: 1em;
  margin-left: 1em;
}

.fifth-content .wrappersubgrid-five > * {
  margin-right: 0.5em;
}

.fifth-content * > * > div > div.first-block > h2 {
  margin-top: 0;
}

.fifth-content .wrappersubgrid-five > * > div:nth-child(3) {
  display: inline-block;
  background-color: rgba(255, 68, 34, 0.06);
}

.story-title-source {
  color: #aaa;
}

.seventh-content .wrappersubgrid-seven * {
  position: relative;
}

.seventh-content .wrappersubgrid-seven article.first-case > .dealarticle {
  background-image: url(../img/deals-ribbon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: #000;
  display: block;
  height: 80px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  z-index: 10;
}

@media (min-width: 768px) {
  .seventh-content .wrappersubgrid-seven article.first-case > .dealarticle > div {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 14px;
    font-weight: 700;
    left: 8px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .wrappersubgrid-seven {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "first-case second-case third-case fourth-case" "fifth-case sixth-case seventh-case eighth-case";
  }
}

.fifth-content .wrappersubgrid-five > * > div > div.first-block,
.fifth-content .wrappersubgrid-five > * > div > div.second-block {
  display: inline-block;
}

.text-white {
  background-color: white;
}
